# ----------------------------------------
# Docker / Infra
# ----------------------------------------
COMPOSE_PROJECT_NAME=metaway-petshop
# Docker Host (Onde o Docker está rodando?)
# ----------------------------------------------------
# OPÇÃO 1: Docker Local (Padrão)
# Mantenha a linha DOCKER_HOST comentada. O script usará o Docker da sua máquina.
#
# OPÇÃO 2: Docker Remoto via SSH
# Descomente e configure se quiser rodar os containers em outro servidor via SSH.
# Requer configuração de chaves SSH sem senha.
# DOCKER_HOST=ssh://usuario@ip-do-servidor

# ----------------------------------------
# API
# ----------------------------------------
APP_ENV=development
API_PREFIX=/api/v1
API_HOST=0.0.0.0
API_PORT=8000
WEB_PORT=5173

# ----------------------------------------
# PostgreSQL
# ----------------------------------------
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=metaway_petshop
POSTGRES_USER=metaway_petshop
POSTGRES_PASSWORD=change_me
# DATABASE_URL — Monte a partir das variáveis acima.
# Formato: postgresql+asyncpg://<USER>:<PASSWORD>@<HOST>:<PORT>/<DB>
DATABASE_URL=postgresql+asyncpg://metaway_petshop:change_me@db:5432/metaway_petshop

# ----------------------------------------
# JWT
# ----------------------------------------
JWT_SECRET_KEY=change_me_with_a_strong_secret
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

# ----------------------------------------
# Seed inicial
# ----------------------------------------
ADMIN_SEED_NAME=Administrador
ADMIN_SEED_CPF=52998224725
ADMIN_SEED_PASSWORD=Admin123
RUN_SEED_ON_STARTUP=false

# ----------------------------------------
# Uploads
# ----------------------------------------
UPLOAD_DIR=/app/storage
UPLOAD_MAX_SIZE_MB=5
